.card {
  height: 100px;
  width: 50%;
  background: #5bbdf2;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

.card strong {
  font-size: 18px;
}
.card small {
  font-size: 14px;
}
